/* הגדרות כלליות */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(45deg, #1a1a1a, #2c3e50);
  color: #ecf0f1;
  text-align: center; /* מרכז את הטקסט */
  position: relative; /* כדי לאפשר את פלטת התפריט כתפריט צף */
}

/* כותרת */
header {
  height: 150px;
  background-color: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3498db;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  animation: fadeInDown 2s ease-out;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* תפריט */
nav {
  background-color: #2c3e50;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed; /* כדי שהתפריט יהיה צף */
  width: 100%; /* רוחב מלא */
  top: 0;
  left: 0;
  z-index: 1000; /* כדי שהתפריט יהיה מעל כל האלמנטים האחרים */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 0 10px;
  display: inline;
}

nav a {
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #3498db;
}

/* תוכן ראשי */
main {
  padding: 40px;
  text-align: center;
}

main p.welcome {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ecf0f1;
  border-radius: 10px;
  padding: 30px;
  font-size: 2em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

main .code {
  background-color: #2c3e50;
  border: 2px solid #3498db;
  padding: 20px;
  margin: 20px 0;
  text-align: left;
  white-space: pre-wrap;
  color: #ecf0f1;
  border-radius: 10px;
}
